@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background: rgb(34,193,195);
    background: linear-gradient(270deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    font-family: "Anta", sans-serif;
}

.container {
    text-align: center;
    justify-content: center;
    margin-top: 30vh;
    gap: 45px;
}

h1 {
    font-weight: 700;
    margin-bottom: 32px;
    color: #ffffff;
}

input{
    margin-bottom: 40px;
    padding: 10px;
    border-radius: 15px;
    border: none;
}

p {
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 30px;
    font-size: 32px;
}

button {
    padding: 10px 20px;
    margin-right: 40px;
    border-radius: 40px;
    border: none;
    font-size: 18px;
    color: #333;
    transition: .5s ease;
}

button:hover {
    color: #5e5e5e;
    transition: .5s ease;
    cursor: pointer;
}